.opaque{
    width: 87%;
    position: fixed;
    height: 90px;
    margin-top: -20px;
    background: transparent linear-gradient(0deg, #FFFFFF00 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

@media only screen and (max-width: 600px) {
    .opaque{
        width: 73%;
        position: fixed;
        height: 90px;
        margin-top: -20px;
        background: transparent linear-gradient(0deg, #FFFFFF00 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .opaque{
        width: 86%;
        position: fixed;
        height: 90px;
        margin-top: -20px;
        background: transparent linear-gradient(0deg, #FFFFFF00 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    }
  }
  @media only screen and (min-width: 787px) and (max-width: 1050px) {
    .opaque{
        width: 84%;
        position: fixed;
        height: 90px;
        margin-top: -20px;
        background: transparent linear-gradient(0deg, #FFFFFF00 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    }
  }

  @media only screen and (max-width: 1150px) {
  .box-4 {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 80%;
    margin: 20px 0px 0px 40px;
}
  }
